@model IL.SolutionBuilder.Web.MvcCore.Models.Unit.UpdateViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/SBAdmin/_Layout.cshtml";
}

<div id="content-wrapper" class="p-0">
    <form asp-action="Edit" asp-controller="Unit" asp method="post" id="unitUpdateForm">
        <!-- Begin Breadcrumb Header -->
        <div class="container-fluid bg-dark mb-3 p-2">
            <div class="row flex-row text-right">
                <div class="col-xl-6 col-sm-6">
                    <ol class="breadcrumb bg-dark m-0 p-2">
                        <li class="breadcrumb-item">
                            <a asp-action="Index"
                               asp-controller="Solution"
                               class="text-info">
                                Solutions
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="Edit"
                               asp-controller="Solution"
                               class="text-info">
                                Units
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                <div class="col-xl-6 col-sm-6">
                    <span class="d-flex justify-content-end m-1">
                        <input type="submit" name="save" value="Save" class="btn btn-primary" />
                        <input asp-for="Unit.Id" type="hidden" id="id">
                        <input asp-for="Unit.SourceType" type="hidden" id="sourceType">
                    </span>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Header -->
        <!-- Tabs -->
        <div class="container-fluid">
            <nav class="m-1">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-unit-tab" data-toggle="tab" href="#nav-unit" role="tab" aria-controls="nav-unit" aria-selected="true">Unit</a>
                    <a class="nav-item nav-link" id="nav-projects-tab" data-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-projects" aria-selected="false">Projects</a>
                </div>
            </nav>
            <!-- End Tabs -->
            <!-- Tab Content -->
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-unit" role="tabpanel" aria-labelledby="nav-unit-tab">
                    <div class="col-xl-12 col-sm-12">
                        <div class="card border-0">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-6 col-sm-6">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="name">Name</label>
                                            <input asp-for="Unit.Name" type="text" id="name" class="form-control" placeholder="Name" required="required"
                                                   autofocus="autofocus" />
                                        </div>
                                        <div class="form-group row">
                                            <label for="description">Description</label>
                                            <textarea asp-for="Unit.Description" class="form-control" id="description" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-12 col-sm-12">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="projectTable" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Source</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var project in Model.Projects)
                                                {
                                                    <tr>
                                                        <td>
                                                            @if (Model.Solution.IsFileCreated)
                                                            {
                                                                if (!project.IsFileCreated)
                                                                {
                                                                    <a asp-action="CreateFile"
                                                                       asp-controller="Project"
                                                                       asp-route-id="@project.Id"
                                                                       class="text-danger m-1"
                                                                       data-toggle="tooltip"
                                                                       data-placement="bottom"
                                                                       title="Create project file">
                                                                        <i class="fa fa-file-import"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="text-success m-1"
                                                                       data-toggle="tooltip"
                                                                       data-placement="bottom"
                                                                       title="Project file created.">
                                                                        <i class="fa fa-check"></i>
                                                                    </a>
                                                                }
                                                            }
                                                            @project.Name
                                                        </td>
                                                        <td>@project.ProjectType</td>
                                                        <td>@project.SourceType</td>
                                                        <td>


                                                            <a asp-action="Details"
                                                               asp-controller="Project"
                                                               asp-route-id="@project.Id"
                                                               class="text-info m-1">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                            @if (!project.IsFileCreated)
                                                            {<a asp-action="Delete"
                                                                asp-controller="Project"
                                                                asp-route-id="@project.Id"
                                                                class="text-danger m-1"
                                                                data-toggle="tooltip"
                                                                data-placement="bottom"
                                                                title="Remove">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a asp-action="Create"
                                       asp-controller="Project"
                                       class="btn btn-info btn-sm float-right">
                                        <i class="fa fa-plus mr-2"></i>
                                        Add a new project
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tab Content -->
        </div>
    </form>
</div>


